html, body {
  height: 100%;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  color: #5A646E;
}

#header {
  position: relative;
  background: url(https://www.bankjoy.com/assets/images/backgrounds/background.jpg) center;
  background-size: cover;
  height: 100%;
}

#overlay {
  background-color: rgba(61,70,100,.86);
  height: 100%;
  margin: 0;
  padding-top: 100px;
}

#logo {
  max-width: 240px;
}

h1 {
  font-weight: 200;
  font-size: 60px;
  line-height: 1.1;
  color: #fff;
}

h5 {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 50px;
  opacity: .5;
  line-height: 1.1;
  color: #fff;
}

button:hover {
  transform: scale(1.1);
}

button {
  transition: all .2s ease;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.42857143;
  padding: 14px 35px;
  border: none;
  background-color: #5170DD;
  border-radius: 50px;
}

a {
  text-decoration: none;
  outline: none;
  color: #fff;
}
